@import 'grid';
$grisOscuroTitulos: #424242;
$grisClaroFecha: #5f6368;
$grisTexto : #414549;
$azul : #4285f4;

.info{
  .imagen{
    width: 100%;
  }
  .imagen-pequena{
    width: 10%;
  }
}
.imagen-circulo{
  border-radius: 100%;
}
hr{
  border: 2px solid;
  color: $azul;
}
